.set-overflow-y{
  overflow-y: auto !important;
}

.dashboard-navigation{
  background-color: #3e444a;
}

.app-content-main{
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.cursor-pointer{
  cursor: pointer;
}

.text-decoration-none{
  text-decoration: none;
}

.float-right{
  float: right;
}

.card-width{
  width: 100%;
}

.card-title-font{
  font-size: 25px;
  font-weight: bold;
}

.table-cinema-auditorium {
  border-collapse: separate;
  border-spacing: 10px;
}

.table-cinema-auditorium td {
  border: 1px solid black;
  padding: 15px !important;
  background-color: blue;
}

.table-cinema-auditorium td:hover {
  background-color: darkblue;
  cursor: pointer;
}

.table-cinema-auditorium tr {
  margin-bottom: 10px;
}

.cinema-screen {
  background-color: blue;
  height: 25px;
  width: 90%;
}

.active-link {
  text-decoration: underline;
  font-weight: bold;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0000ff, 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.5), -1.8em -1.8em 0 0em rgba(0,0,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.7), 1.8em -1.8em 0 0em #0000ff, 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.5), 1.8em -1.8em 0 0em rgba(0,0,255, 0.7), 2.5em 0em 0 0em #0000ff, 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.5), 2.5em 0em 0 0em rgba(0,0,255, 0.7), 1.75em 1.75em 0 0em #0000ff, 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.5), 1.75em 1.75em 0 0em rgba(0,0,255, 0.7), 0em 2.5em 0 0em #0000ff, -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.5), 0em 2.5em 0 0em rgba(0,0,255, 0.7), -1.8em 1.8em 0 0em #0000ff, -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.5), -1.8em 1.8em 0 0em rgba(0,0,255, 0.7), -2.6em 0em 0 0em #0000ff, -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.5), -2.6em 0em 0 0em rgba(0,0,255, 0.7), -1.8em -1.8em 0 0em #0000ff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0000ff, 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.5), -1.8em -1.8em 0 0em rgba(0,0,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.7), 1.8em -1.8em 0 0em #0000ff, 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.5), 1.8em -1.8em 0 0em rgba(0,0,255, 0.7), 2.5em 0em 0 0em #0000ff, 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.5), 2.5em 0em 0 0em rgba(0,0,255, 0.7), 1.75em 1.75em 0 0em #0000ff, 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.5), 1.75em 1.75em 0 0em rgba(0,0,255, 0.7), 0em 2.5em 0 0em #0000ff, -1.8em 1.8em 0 0em rgba(0,0,255, 0.2), -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.5), 0em 2.5em 0 0em rgba(0,0,255, 0.7), -1.8em 1.8em 0 0em #0000ff, -2.6em 0em 0 0em rgba(0,0,255, 0.2), -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.5), -1.8em 1.8em 0 0em rgba(0,0,255, 0.7), -2.6em 0em 0 0em #0000ff, -1.8em -1.8em 0 0em rgba(0,0,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,255, 0.2), 1.8em -1.8em 0 0em rgba(0,0,255, 0.2), 2.5em 0em 0 0em rgba(0,0,255, 0.2), 1.75em 1.75em 0 0em rgba(0,0,255, 0.2), 0em 2.5em 0 0em rgba(0,0,255, 0.2), -1.8em 1.8em 0 0em rgba(0,0,255, 0.5), -2.6em 0em 0 0em rgba(0,0,255, 0.7), -1.8em -1.8em 0 0em #0000ff;
  }
}
